// Variables (if needed, add more as required)
$primary-color: #555;
$hover-bg-color: rgba(243, 227, 227, 0.5);
$close-icon-bg-color: white;
$close-icon-color: rgba(0, 0, 0, .87);
$take-note-bg-color: #5f6368;
$font-family-google: "Google Sans", Roboto, Arial, sans-serif;
$font-family-calibri: Calibri;

// Mixins (if needed, add more as required)
@mixin button-styles {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  margin-right: 4%;
  border-radius: 100%;
  height: 30px;
  font-size: xx-small;
  &:hover {
    color: #000;
    background-color: $hover-bg-color;
  }
  svg {
    color: $primary-color;
  }
}

@mixin close-icon-styles {
  background-color: $close-icon-bg-color;
  border: none;
  color: $close-icon-color;
  font-family: $font-family-google;
  font-size: .875rem;
  font-weight: 500;
}

// Styles
.AddNotebutton-container-wrapper {
  display: flex;
  padding: 3%;
}

.AddNotebutton-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  border-radius: 100%;
  
  button {
    @include button-styles;
  }
}

.closeIcon {
  width: 20%;
  @include close-icon-styles;
}

.take-note {
  color: $take-note-bg-color;
  cursor: pointer;
  font-size: medium;
  font-family: $font-family-calibri;
  padding: 8px;
  height: 28px;
  border: #000;
  font-weight: 500;
  border-radius: 8px;
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
  align-items: center;
}
