.note-dashboard {
  display: flex;
  flex-wrap: wrap; // Allow items to wrap onto the next line
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #000;
}


.main {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.containerr {
  width: 100vw;
}
.add-note-container.hidden {
  visibility: hidden;
}

.note-card:focus,.note-card-body:focus,.card-title:focus,.card-text:focus {
  outline: none;
  border: none;
}


.notes-container {
  margin-top: 5%;
  margin-bottom: 10px;
  margin-left: 25%;
  width: 76%;
  flex-grow: 1;
  transition: margin-left 0.3s ease, z-index 0.3s ease;
  position: relative;
  z-index: 1;

}
.notes-container.shifted {
  margin-left: 12%;
  z-index: 0;

  .add-note {
    margin-left:31%;
  }
}


  .card {
    width: 500px;
    min-height: 117px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
    padding: 5px;
  }
 




.add-note {
  background-color: #fff;
  border-radius: 8px;

  margin-bottom: 2%;
  transition: box-shadow 0.3s ease;
  box-shadow: 1px 1px 1px 1.5px rgba(0, 0, 0, 0.3);
  width: 49%;
  align-items: center;
  margin-left: 28%;
  margin-top: 1%;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  input[type="text"],
  textarea {
    width: 96%;
    padding: 8px;
    border: none;
    font-size: 16px;
    outline: none;
    font-family: calibri;
    margin-left: 5px;
  }

  textarea {
    min-height: 40px;
    resize: none;
  }
}


.pinned-header {
  margin-top: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #333;
}

.note-head-container {
  color: #5f6368;
  font-size: 0.6875rem;
  letter-spacing: 0.0727272727em;
  line-height: 1rem;
  margin: 32px 0 8px 21px;
  width: 4%;
}

.header-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 2%;
}

.pinned-notes-container,
.unpinned-notes-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  overflow: visible;
}

.notes-container{
  .note-head-container {
  &.vertical {
    margin-left: 12px;
  }
  &.horizontal {
    margin-left: 164px;
  }
 }}
.notes-container.shifted{
  .pinned-notes-container,.unpinned-notes-container{
    width: 121%;
  }
}

.pin-icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #555;
  font-size: medium;
}

/* Show pin icon on hover */
.note-card:hover .pin-icon {
  display: block;
}

.note-card {
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid #c8c8c8;
  margin-right: 1%;
  width: 220px;
 

  .card {
    width: 98%;
    min-height: 117px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    position: relative; // Position the card relative for absolute positioning of buttons
    border-radius: 8px;
   padding: 1%;
  }

  .note-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 16px;
    outline: none;
    flex-grow: 1;
    font-weight: 500;
    text-align: start;
    padding: 3%;
  }

  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
    flex-grow: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 3%;
    text-align: start;
  }


 
.noNote{
  color: #5f6368;
  cursor: default;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
 
}


  .label-button {
    background-color: transparent;
    margin-left: 4px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    size: 10px;
    padding-bottom: 5px;
    color: #333;

    &:hover {
      background-color: rgba(73, 72, 72, 0.384);
      border-radius: 50%;
      padding: auto;
      color: #000;
    }

    svg {
      margin-top: 4px;
      margin-right: 5px;
    }
  }

  .button-container {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 5px;
    border-radius: 100%;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0;
      border-radius: 100%;
      height: 30px;
      margin-left: 2%;

      &:hover {
        color: #000;
        background-color: rgba(243, 227, 227, 0.5);
      }

      svg {
        color: #555;
      }
    }
  }

  .button-container-wrapper {
    display: none;
  }

  &:hover .button-container-wrapper {
    display: block;
  }
  &.vertical {
    margin-left: 0;
    width: 230px;
    margin-right: 20px;
  }
  &.horizontal {
    margin-left: 148px;
    width: 57.6%;
    margin-right: 12px;
   
  }
  
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .notes-container {
    width: calc(100vw - 302px);
  }
  .add-note {
    width: 360px;
    margin: 85px 403px 30px 90px;
  }
  .note-card .card {
    width: 186px;
    min-height: 99px;
  }
  .note-card .button-container button {
    margin-left: 0;
    margin-top: -5%;
  }
  .notes-container {
    top: 0;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .notes-container.shifted .add-note {
    margin-left: 0;
    margin-top: 20%;
  }
  .note-card.vertical {

    width: 315px;
  
  }
  .header .user-circle {
    font-size: 14px;
  }
  .notes-container.shifted {
    margin-left: 17%;

    z-index: 3;
  }
  .note-card .card {
    width: 100%;
    min-height: 101px;
    padding: 1%;
  }
  .add-note {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  .note-card .button-container {
    display: flex;
    justify-content: left;
    padding: 0;
  }
  .note-card .card-title {
    font-size: 14px;
    padding: 2%;
  }
  .note-card .card-text {
    font-size: 14px;
    padding: 2%;
  }
  .button-container svg {
    font-size: medium;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .notes-container.shifted {
    margin-left: 17%;

    z-index: 3;
  }
  .note-card.vertical {
    margin-left: 0;
    width: 280px;
    margin-right: 20px;
  }
  .notes-container.shifted .add-note {
    margin-left: 0;
    margin-top: 20%;
  }
  .header .user-circle {
    font-size: 14px;
  }

  .note-card .card {
    width: 100%;
    min-height: 101px;
    padding: 1%;
  }
  .mediasidebar.collapsed .sidebar {
    padding-left: 0;
    width: 22%;
  }
  .add-note {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  .mediasidebar.collapsed .sidebar-options .option-icon {
    margin-left: 11px;
  }
  .note-card .button-container {
    display: flex;
    justify-content: left;
    padding: 0;
  }
  .note-card .card-title {
    font-size: 14px;
    padding: 2%;
  }
  .note-card .card-text {
    font-size: 14px;
    padding: 2%;
  }
  .button-container svg {
    font-size: medium;
  }
}

@media only screen and (max-width: 320px) {
  .notes-container.shifted .add-note {
    margin-left: 0;
    margin-top: 20%;
  }
  .header .user-circle {
    font-size: 14px;
  }

  .button-container svg {
    font-size: medium;
  }

  .notes-container.shifted {
    margin-left: 17%;
    z-index: 3;
  }
  .note-card .card {
    width: 100%;
    min-height: 99px;
    padding: 0%;
  }

  .add-note {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
  .note-card .button-container {
    display: flex;
    justify-content: left;
    padding: 0;
  }
  .note-card .card-title {
    font-size: 14px;
    padding: 2%;
  }
  .note-card .card-text {
    font-size: 14px;
    padding: 2%;
  }
  .note-card.vertical{
    width: 244px;
  }
}
