.header {
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  padding: 10px;
  height: 45px;
  border-bottom: 1px solid #ccc;
  color: #000;
  background-color: white;
  z-index: 10;

  .mainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2%;

    button {
      border: none;
      padding: 0;
      color: #36454F;
      background-color: white;
    }

    &:hover {
      background-color: #C8C8C8;
      border-radius: 100%;

      .menu svg {
        background-color: #C8C8C8;
      }
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 1%;
    width: 15%;

    .logo {
      height: 6%; // Adjust according to your logo height
      margin-right: 5px; // Adjust margin as needed
      position: fixed;
    }

    .logo-text {
      font-size: 20px; // Adjust font size as needed
      color: gray;
      position: fixed;
      margin-left: 3%;
      font-family: calibri;
      font-weight: 550rem;
    }
  }
  .search-container {
    display: flex;
    align-items: center;
    width: 45%;

    .search-input {
      padding: 2%;
      border: 1px solid #f5ecec;
      background-color: #F5F5F5;
      border-radius: 4px;
      font-size: small;
      font-weight: 500;
      outline: none;
      width: 100%;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
      height: 45%;
    }

    .search-icon {
      display: none;
      font-size: medium;
      cursor: pointer;
      color: #555;
    }
  }


 

  .icons{
    display: flex;
    align-items: center;
    width: 13%;
    justify-content: space-evenly;
 
  }

  .lastpartOfheader{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-evenly;
    left: 0;

  }
  .user-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28%; 
        margin-left: 1%;    
        height: 77%;
        border-radius: 50%;
        background-color: purple;
        color: white;
        font-weight: 600;
        font-size: 19px;
        cursor: pointer;
      
      }
      .spacer{
        width: 10%;
      }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .user-card {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 20%; 
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 11%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Add shadow for card effect
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding: 20px;

    .user-info {
      font-size: 15px;
      color: #36454F;
      text-align: center;
    }

    .profile-button-container {
      text-align: center;
      margin-bottom: 10px;

      .profile-picture-label {
        display: inline-block;
        width: 68px;
        height: 64px;
        border-radius: 50%;
        background-color: purple;
        color: white;
        font-weight: 600;
        font-size: 19px;
        cursor: pointer;
        position: relative;

        .profile-picture {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }

        &:hover {
          background-color: #f0f0f0; // Change background color on hover
        }
      }

      input[type="file"] {
        display: none;
      }
    }
    .accName{
      margin: 0;
      padding:0;
      display: flex;
      justify-content: center;
  
    }
    .usernameInitial{
      display:flex;
      justify-content: center;
      margin-top: 25%;
    }

    .account-actions {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      .add-account-button, .sign-out-button {
        background-color: #ffffff;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 14px;
        color: #494949;

        &:hover {
          background-color: #f0f0f0;
        }

      
      }

      .sign-out-button {
        display: flex;
        align-items: center;

        svg {
           margin-right: 5px;
         }
       }
     }
   }
}

 @media only screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .header .logo-container .logo {
    display: block;
  }
  .header .spacer {
    width: 2%;
  }
  .header .logo-container .logo-text {
    font-size: 17px;
    margin-left: 4%;
  }
  .header .logo-container {
    width: 18%;
  }

  .header .lastpartOfheader {width: 12%;}
  .header .user-circle {
  width: 33%;
    height: 66%;}
  
}
@media only screen and (min-width: 376px) and (max-width: 425px) {

  .header {
    height: 33px;
  }
    .icons svg{
      font-size: larger;
    }
    .lastpartOfheader svg{
      font-size: larger;
    }
    .menu svg{
      font-size: larger;
    }
    .header .user-circle {
      width: 30%;
      height: 53%;
    
    }
    .header .user-circle span{
      font-size: medium;
    }

    .layout-toggle{
      margin-top: 6%;
      display: none;
    }
  
    .header .user-circle {
      width: 42%;
        height: 75%;
    }
    .header .icons {
      
      width: 24%;
    }
    .header .lastpartOfheader {
     
      width: 16%;}
      .header .logo-container {
        width: 40%;
        margin-right: 4%;
      }
    .header .logo-container .logo {
      display: block;
      height:4% ;
    }
    .header .spacer {
      width: 0;
    }
    .header .logo-container .logo-text {
     
        font-size: 18px;
        margin-left: 6%;
      
    }
    .header .search-container {
      width: auto;
  
    }
    .header .search-container .search-input {
      display: none;
  
    }
    .header .search-container .search-icon {
    
      display: block;
      font-size: larger;
    }
  
    .header .search-container.active .search-input {
        display: block;
        width: 100%;
      }
    
    .header .search-container.active .search-icon {
      display: none;
    }
    .header .mainMenu {
      width: 5.2%;
    }
    
    .header .user-card {
      width: 41%;
      padding: 12px;
      right: 9%;
    }
  
    .header .user-card .user-info {
      font-size: 12px;
      color: #36454F;
      text-align: center;
  }
  .header .user-card .profile-button-container .profile-picture-label {
    width: 36px;
    height: 35px;
  }
  .header .user-card .usernameInitial {
    display: flex;
    justify-content: center;
    margin-top: 15%;}
    
.header .user-card .accName {
  font-size: smaller;
}
.header .user-card .account-actions .add-account-button, .header .user-card .account-actions .sign-out-button {

  padding: 10px 10px;

  font-size: 9px;

}

  }
  
@media only screen and (min-width: 321px) and (max-width: 375px) {
  
  .header {
    height: 33px;
  }
    .icons svg{
      font-size: larger;
    }
    .lastpartOfheader svg{
      font-size: larger;
    }
    .menu svg{
      font-size: larger;
    }
    .header .user-circle {
      width: 43%;
      height: 74%;
    }

    .header .user-circle span{
      font-size: medium;
    }
    .layout-toggle{
      margin-top: 6%;
      display: none;
    }
  
    .header .user-circle {
      width: 42%;
        height: 68%;
    }
    .header .icons {
      
      width: 26%;
    }
    .header .lastpartOfheader {
     
      width: 16%;}
      .header .logo-container {
        width: 42%;
      
      }
    .header .logo-container .logo {
      display: block;
      height:4% ;
    }
    .header .spacer {
      width: 0;
    }
    .header .logo-container .logo-text {
      font-size: 18px;
      margin-left: 6%;
    }
    .header .search-container {
      width: auto;
  
    }
    .header .search-container .search-input {
      display: none;
  
    }
    .header .search-container .search-icon {
    
      display: block;
      font-size: larger;
    }
  
    .header .search-container.active .search-input {
        display: block;
        width: 100%;
      }
    
    .header .search-container.active .search-icon {
      display: none;
    }
    .header .mainMenu {
      width: 5.2%;
    }

    
    .header .user-card {
      width: 41%;
      padding: 12px;
      right: 9%;
    }
  
    .header .user-card .user-info {
      font-size: 11px;
      color: #36454F;
      text-align: center;
  }
  .header .user-card .profile-button-container .profile-picture-label {
    width: 36px;
    height: 35px;
  }
  .header .user-card .usernameInitial {
    display: flex;
    justify-content: center;
    margin-top: 15%;}
    
.header .user-card .accName {
  font-size: smaller;
}
.header .user-card .account-actions .add-account-button, .header .user-card .account-actions .sign-out-button {

  padding: 10px 10px;

  font-size: 9px;

}

  }
  

@media only screen and (max-width: 320px) {
  .header {
    height: 33px;
  }
  .header .user-circle span{
    font-size: medium;
  }
    .icons svg{
      font-size: large;
    }
    .lastpartOfheader svg{
      font-size: large;
    }
    .menu svg{
      font-size: large;
    }
    .header .user-circle {
      width: 43%;
      height: 74%;
    }

    .layout-toggle{
      margin-top: 6%;
      display: none;
    }
  
    .header .user-circle {
      width: 42%;
        height: 68%;
    }
    .header .icons {
      
      width: 26%;
    }
    .header .lastpartOfheader {
     
      width: 16%;}
      .header .logo-container {
        width: 42%;
      
      }
    .header .logo-container .logo {
      display: block;
      height:4% ;
    }
    .header .spacer {
      width: 0;
    }
    .header .logo-container .logo-text {
      font-size: 16px;
      margin-left: 6%;
    }
    .header .search-container {
      width: auto;
  
    }
    .header .search-container .search-input {
      display: none;
  
    }
    .header .search-container .search-icon {
    
      display: block;
      font-size: large;
    }
  
    .header .search-container.active .search-input {
        display: block;
        width: 100%;
      }
    
    .header .search-container.active .search-icon {
      display: none;
    }
    .header .mainMenu {
      width: 5.2%;
    }

    .header .user-card {
      width: 41%;
      padding: 12px;
      right: 9%;
    }
  
    .header .user-card .user-info {
      font-size: 10px;
      color: #36454F;
      text-align: center;
  }
  .header .user-card .profile-button-container .profile-picture-label {
    width: 36px;
    height: 35px;
  }
  .header .user-card .usernameInitial {
    display: flex;
    justify-content: center;
    margin-top: 15%;}
    
.header .user-card .accName {
  font-size: smaller;
}
.header .user-card .account-actions .add-account-button, .header .user-card .account-actions .sign-out-button {

  padding: 10px 10px;

  font-size: 9px;

}
}
