
body {
    background-image: url('../Assets/backgroundImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
  
    background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 300px;
	overflow: hidden;
  }
 
.form-box {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 300px;
}
.form-box:before {
    background-image: url('./../Assets/backgroundImg.jpg');
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}
.form-box .header-text {
	font-size: 32px;
	font-weight: 600;
    color: white;

    margin-Top: 1px;
  
  
}

.inputlogin {
    width: 350px;
    padding: 10px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 35px;
    border: none;
    border-radius: 5px;
  }
  
  .loginbutton {
    background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 92%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
    margin-bottom: 35px;
    

  }
  
  .loginbutton:hover {
    background-color: #0056b3;
  }
  .signuplink{
    color:white;
    font-size: medium;

  }
  // signup.scss
@import "~react-toastify/dist/ReactToastify.css";

// Add your custom styles for the toast notifications here
.Toastify__toast {
    font-size: 16px; // Adjust this to your preferred medium font size
}

.Toastify__toast--error {
    background-color: #f44336; // Red background for error
    color: #ffffff; // White text for better contrast
}

.Toastify__toast--success {
    background-color: #4caf50; // Green background for success
    color: #ffffff; // White text for better contrast
}




    @media only screen and (max-width: 1440px) {
 
      
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      
        .login-container {
            width: 350px;
            height: 290px;
          
        }
        .form-box{
            width: 350px;
            height: 290px;
        }
        .inputlogin {
            width: 80%;
        }   
        .loginbutton{
            width: 75%;
        }
    }
    @media only screen and (min-width: 426px) and (max-width: 768px) {
      
        .login-container {
            width: 350px;
            height: 290px;
          
        }
        .form-box{
            width: 350px;
            height: 290px;
        }
        .inputlogin {
            width: 280px;
        }   
        .loginbutton{
            width: 75%;
        }
    }

    @media only screen and (min-width: 376px) and (max-width: 425px) {
      
        .login-container {
            width: 230px;
            height: 250px;          
        }
        .form-box{
            width: 230px;
            height: 250px;
            margin-bottom:  2%;
        }
        .inputlogin {
            width: 200px;
            margin-bottom: 8%;
        }   
        .loginbutton{
            width: 95%;
        }
        .signuplink{
            font-size: small;
        }
    }
  
    @media only screen and (min-width: 321px) and (max-width: 375px) {
      
        .login-container {
            width: 180px;
            height: 250px;  
                   
        }
        .form-box{
            width: 180px;
            height: 250px;  
            margin-bottom:  2%;
            
        }
        .inputlogin {
            width: 90%;
            margin-bottom: 8%;
            height: 90%;
        }   
        .loginbutton{
            width: 90%;
            height: 15%;           
        }
        .signuplink{
            font-size: smaller;
        }
    }
  
    @media only screen and (max-width: 320px) {
      
        .login-container {
            width: 160px;
            height: 250px;                     
        }
        .form-box{
            width: 160px;
            height: 250px;  
            margin-bottom:  2%;
            
        }
        .inputlogin {
            width: 90%;
            margin-bottom: 8%;
            height: 90%;
        }   
        .loginbutton{
            width: 90%;
            height: 15%;           
        }
        .signuplink{
            font-size: smaller;
        }
        .header-text{
            font-size: small;
        }

     
    }
  


