$box-background: white;
$box-padding: 2rem;
$error-color: red;

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-box {
    background: $box-background;
    padding: $box-padding;
    border-radius: 8px;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    height: 60%;

}

.above-form {
    margin: 0 2rem;
 margin-top: 5%;
}
.title{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: 600;
}
h4{
    font-weight: 470;
    margin-top: 2%;
}
.input-group {
    margin-bottom: $box-padding;
   
}

.login-input {
    width: 100%;
    height: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: $error-color;
    font-size: 0.875rem;
    text-align: left;
    margin-top: 0.25rem;
    margin-left: 1rem;
   
}

.links {
    top: 1%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;

}
.glogo{
    width: 45%;
    height: 10%;
}

.forgetBtn{
    display: flex;
    justify-content: flex-start;
}
a {
    color: #0066b2;
    text-decoration: none;
    font-size: 0.875rem;
}

a:hover {
    text-decoration: underline;
}

#submit-button {
    width: 30%;
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
    background-color: #0066b2;
    color: $box-background;
    font-size: 1rem;
    cursor: pointer;
   
}

button:hover {
    background-color: #0056b3;
}



@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .login-box {
        height: 60%;
}}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .login-box {
        height: 55%;
        width: 35%;
}}
    
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .login-box {
        width: 50%;
        height: 70%;
       }

       .above-form {
     
         margin-top: 0;
    }
    
    }
    @media only screen and (min-width: 376px) and (max-width:425px) {
        .login-box {
            width: 70%;
           }
               .above-form {
                margin: 0 1rem;
           
        }
        }

        @media only screen and (min-width: 321px) and (max-width:375px) {
            .login-box {
                width: 70%;
               }
                   .above-form {
                    margin: 0 1rem;
               
            }
            }

        @media only screen and (max-width:320px) {
            .login-box {
                width: 70%;
               }
                   .above-form {
                    margin: 0 0rem;
               
            }
            
            }