
body {
    background-image: url('../Assets/backgroundImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container { 
	background-color: rgba(0, 0, 0, 0.5); 
	margin: auto ; 
	padding: 40px; 
	border-radius: 5px; 
	box-shadow: 0 0 10px #000; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0;
	right: 0; 
	width: 400px;
	height: 450px; 
	} 
	
	/* div { 
	text-align: center; 
	} */

.signupform-box 
{ 
	background-color: rgba(0, 0, 0, 0.5); 
	margin: auto ; 
	padding: 40px; 
	border-radius: 5px;
	box-shadow: 0 0 10px #000; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	width: 400px;
	height: 450px; 
} 
.signupform-box:before
 {
     background-image: url("https://i.postimg.cc/8cnYLpfc/ddddd.jpg"); 
	 width: 100%; 
	 height: 100%;
	 background-size: cover; 
	 content: "";
	 position: fixed; 
	 left: 0; 
	 right: 0; 
	 top: 0; 
	 bottom: 0; 
	 z-index: -1; 
	 display: block; 
	 filter: blur(2px); 
 } 

.signupform-box .header-text { 
	font-size: 32px; 
	font-weight: 600; 
	color: white; 
	padding-bottom: 10px; 
	text-align: center; 
	margin-Top: -15px; 
}

.inputSignup { 
	width: 350px; 
	padding: 10px; 
	height: 20px; 
	margin-left: 5px; 
	margin-bottom: 40px; 
	border: none; 
	border-radius: 5px; 
}

.signupbutton { 
	background-color: deepskyblue; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	width: 92%; 
	font-size: 18px; 
	padding: 10px; 
	margin: 20px 0px; 
	margin-bottom: 40px; 
}

.signupbutton:hover { 
	background-color: #0056b3; 
}

.firstname {
    width: 40%;
 
}
.header-text { 

    font-size: medium;
 }

.Toastify__toast-container {
    position: fixed;
    z-index: 9999;
    top: 20px;
    right: 20px;
	width: 350px;
	font-size: '16px';
	font-family: 'Arial, sans-serif';

}

.alreadyAcc{
    color: white;
    font-size: medium;
}

// signup.scss
@import "~react-toastify/dist/ReactToastify.css";

// Add your custom styles for the toast notifications here
.Toastify__toast {
    font-size: 16px; // Adjust this to your preferred medium font size
}

.Toastify__toast--error {
    background-color: #f44336; // Red background for error
    color: #ffffff; // White text for better contrast
}

.Toastify__toast--success {
    background-color: #4caf50; // Green background for success
    color: #ffffff; // White text for better contrast
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .inputSignup {
        margin-bottom: 30px;    
    }  
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .signup-container {
        height: 420px; 
    }
    .signupform-box 
    { 
        height: 420px; 
    }
    .inputSignup {
        margin-bottom: 30px;    
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .signup-container {
        height: 380px; 
        width: 350px;
    }
    .signupform-box 
    { 
        height: 380px; 
        width: 350px;
    }
    .inputSignup {
        margin-bottom: 28px;  
        width: 280px;  
    }
    .header-text { 
       margin-bottom: 2%;
       font-size: medium;
    }
    .firstname {
        width: 36%;
     
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .signup-container {
        height: 380px; 
        width: 250px;
    }
    .signupform-box 
    { 
        height: 380px; 
        width: 250px;
    }
    .inputSignup {
        margin-bottom: 28px;  
        width: 230px;  
    }
    .header-text { 
       margin-bottom: 2%;
       font-size: medium;
    }
    .firstname {
        width: 40%;
    }
    .signupbutton { 
        width: 92%; 
    }
    .alreadyAcc{
        font-size: small;
    }
}


@media only screen and (min-width: 321px) and (max-width: 375px) {
    .signup-container {
        height: 380px; 
        width: 230px;
    }
    .signupform-box 
    { 
        height: 380px; 
        width: 230px;
    }
    .inputSignup {
        margin-bottom: 28px;  
        width: 200px;  
    }
    .header-text { 
       margin-bottom: 2%;
       font-size: medium;
    }
    .firstname {
        width: 38%;
    }
    .signupbutton { 
        width: 92%; 
    }
    .alreadyAcc{
        font-size: small;
    }
}


@media only screen and  (max-width: 320px) {
    .signup-container {
        height: 350px; 
        width: 200px;
    }
    .signupform-box 
    { 
        height: 350px; 
        width: 200px;
    }
    .inputSignup {
        margin-bottom: 28px;  
        width: 180px;  
        height: 60%;

    }
    .header-text { 
       margin-bottom: 2%;
       font-size: small;
    }
    .firstname {
        width: 37%;
    }
    .signupbutton { 
        width: 92%; 
         height: 10%;
        font-size: medium;
    }
    .alreadyAcc{
        font-size: small;
    }
}