.trash-container{
    margin-top: 11%;
}

.trashImg{

    width: 20%;
    height: 35%;
    margin-left: 91%;
    margin-top: 37%;
    color: #555;
}
.noNote{
    color: #5f6368;
    cursor: default;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
   
}
.BackImg{
    margin-left: 34%;
    margin-top: 13%;
    color: #e4dede;
}